body{
    background-color: rgb(196, 185, 185);
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius:20% ;
    border:10px solid black;
    margin: 2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(226, 91, 113);
}
.yellow{
    background-color: rgb(233, 233, 50);
}
.green{
    background-color: rgb(66, 227, 66);
}
.blue{
    background-color: aqua;
}
.flash{
    background-color: white;
}